VITE_BASE_URL=BASEURL/api
VITE_API_URL_SEND_ANSWER=BASEURL/api/first/
VITE_API_URL_START_TIMER=BASEURL/api/first/timer
VITE_API_URL_END_TIMER=BASEURL/api/first/end
VITE_API_URL_GET_SCOREBOARD=BASEURL/api/first/scoreboard