.image {
  margin-top: 2em;
  width: 80%;
  height: 100%;
  object-fit: contain;
}
.imgAnswered {
  margin: 2em;
  width: 10%;
  height: 10%;
  opacity: 1;
}
.imgUnanswered {
  margin: 2em;
  width: 10%;
  height: 10%;
  opacity: 0.1;
}

.overlayOff {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.overlayOn {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.borderCorrect {
  border: 5px solid greenyellow;
}
.borderIncorrect {
  border: 5px solid red;
}
