.image {
  margin-top: 2em;
  width: 25%;
  height: 100%;
  object-fit: contain;
  margin: 1em;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
}
